.number-input {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 6px;
    justify-content: start;
    align-items: center;
  
    & button {
      all: unset;
      display: block;
      width: 24px;
      height: 24px;
      margin-top: 6px;
      font-size: 0.00001px;
    }
    & button:first-of-type {
      margin-left: 6px;
      background-image: url("../public/images/icon-minus.svg");
    }
    & button:last-of-type {
      background-image: url("../public/images/icon-plus.svg");
    }
}